.tags_sidebar {
    width: 12%;
    height: 100%;
    position: fixed;
    right: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.tags_sidebar a p {
    font-size: smaller;
    text-align: right;
    margin-bottom: 0;
    color: #00000060
}


.tags_sidebar a p:hover {
    font-size: smaller;
    text-align: right;
    margin-bottom: 0;
    color: #0d59d3d7
}

.page_switch {
    width: 100%;
}