---
layout: default
---

<div class="home">
  <head>
      <title>{{ site.title }}</title>
  </head>
  <div class="home-title">
    <p class="home-heading">{{ site.title }}</p>
    <p class="home-sub-heading">{{- site.description | escape -}}</p>
  </div>

  <ul class="post-list">
    {% for post in paginator.posts  %}
      {%- assign nextIndex = forloop.index -%}
      {%- capture next_year -%}{{ paginator.posts[nextIndex].date | date: "%Y" }}{% endcapture %}
      {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
  
      {% if forloop.first %}
      <h2 id="{{ this_year }}-ref" class="post-year">{{this_year}}</h2>
      <ul>
      {% endif %}
  
      <li>
          {%- assign date_format = site.moving.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">
            {{ post.date | date: date_format }}
          </span>
          <a class="black-link post-link-layout" href="{% post_url  {{ post.id }} %}">
            {{ post.title | escape }}
          </a>
          {%- if post.language -%}
              <span class="language_tag">{{ post.language | upcase }}</span>
          {%- endif -%}
          {%- if post.other_language_versions.size > 0 -%}
            {%- for L in post.other_language_versions -%}
              <span class="language_option"><a href="{% post_url  {{ L }} %}">{{ L | split: "/" | first | upcase }}</a></span>
            {%- endfor -%}
          {%- endif -%}
      </li>
  
      {% if forloop.last %}
      </ul>
      {% else %}
          {% if this_year != next_year %}
          </ul>
          <h2 id="{{ next_year }}-ref" class="post-year">{{next_year}}</h2>
          <ul>
          {% endif %}
      {% endif %}
  {% endfor %}
  </ul>
  {% if paginator.total_pages > 1 %}
  <div class="page_switch">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}"><- page#{{ paginator.previous_page }}</a>
    {% endif %}
    　|　
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">page#{{ paginator.next_page }} -></a>
    {% endif %}
  {% endif %}
  </div>
</div>
